body {
  background-color: #058073;
}

.container {
  width: 700px;
  height: 500px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  margin-top: 100px;
}

hr {
  width: 620px;
  margin: auto;
  opacity: 0.4;
}

.question-text {
  padding-top: 20px;
  margin-left: 40px;
  color: #058073;
  font-weight: bolder#058073;
  font-size: 21px;
  font-weight: 600;
}

.option {
  background-color: rgb(215, 215, 215);
  width: 620px;
  margin: auto;
  padding: 10px 0 10px 0;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 20px;
  position: relative;
  overflow: hidden;
}
.option.correct::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 10px 0 10px 0;

  /* z-index: -1; */
  z-index: -1;
}
.option.correct {
  background-color: green;
  color: white;
  animation: slideInLeft 0.5s ease forwards;
}
.option.incorrect::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 10px 0 10px 0;

  /* z-index: -1; */
  z-index: -1;
}
.option.incorrect {
  background-color: red;
  color: white;
}
.option.already-answerd {
  pointer-events: none;
}
.next {
  font-size: 20px;
  background-color: #058073;
  color: white;
  margin-top: 20px;
  margin-left: 40px;
  width: 80px;
  border-radius: 4px;
  border-color: #058073;
  width: 130px;
  height: 41px;
}

.hr2 {
  margin-top: 20px;
}

h2 {
  margin-left: 40px;
  font-size: 25px;
  font-weight: 200;
}

.circle {
  display: flex;
  padding-left: 30px;
}

.answer-indicater {
  margin-left: 34px;
}
.answer-indicater div {
  border-radius: 52px;
  width: 30px;
  height: 30px;
  background-color: rgb(215, 215, 215);
  /* margin-left: 30px; */
  margin-top: 7px;
  display: inline-block;
  background-color: #cccccc;
}
.answer-indicater div.correct {
  background-color: green;
  background-image: url("correct.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.answer-indicater div.incorrect {
  background-color: red;
  background-image: url("wrong.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.question-number {
  margin-left: 40px;
  font-size: 25px;
  font-weight: 200;
  line-height: 60px;
  font-weight: 600;
  color: #058073;
}
.result-box {
  text-align: center;
}
.result-box h1 {
  font-size: 36px;
  line-height: 42px;
  color: #009698;
}
.result-box table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  font-weight: 600;
  margin-top: 50px;
}
.result-box table td {
  border: 1px solid #cccccc;
  padding: 8px 15px;
}
.hide {
  display: none;
}
